/* new css */
/* Add a black background color to the top navigation */
.topnav {
    background-color: darkslategrey;
    overflow: hidden;
}

.headerClass {
background-color: #5DD873;
padding: 20px;
color: darkslategrey;
font-size: 66px;
font-family: impact;
}

#logo {
    border-radius: 50%;
    border: 2px solid;
    padding: 2px;
}

#clientInfo {
    background-color: #F5F5F5;
    border: 2px solid;
    padding: 10px;
}

.subheaderClass {
background-color: white;
padding-top: 10px;
color: darkslategrey;
border: 5px solid;
font-size: 45px;
}

.subtext {
color: darkslategrey;
padding-top: 5px;
font-size: 15px;
}

.bodyClass {
background-color: #DCDCDC;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    text-decoration: none;
    color: black;
}

a:link {
    text-decoration: none;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.footer {
color: white;
font-size: 16px;
background-color: darkslategrey;
padding-top: 10px;
}

/*Style the DIV*/
.container .box{
  float: left;
  width: 600px;
  margin: 2px;
  padding: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

/*Fade all the DIV when user hovers on any div*/
.container:hover .box{
  zoom: 1;
  filter: alpha(opacity=45);
  opacity: 0.45;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

/*Fade out the particular DIV when user hover on that DIV*/
.container .box:hover{
  box-shadow: 3px 3px 15px #666;
  border-color:#0fa811;
  background: #0fa811;
  color: #fff;
  cursor: pointer;

  /*Opacity*/
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}
