<!doctype HTML>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/pagestyle.css">

    <title>Client 1</title>
  </head>
<nav>

  <div class="topnav">
    <a href="home.html">Home</a>
    <a href="http://ec2-34-216-141-243.us-west-2.compute.amazonaws.com/client.html?clientId=1">Hoosier Energy</a>
    <a href="http://ec2-34-216-141-243.us-west-2.compute.amazonaws.com/client.html?clientId=2">Pacific Tidal Energy</a>
    <a href="turbine1.html">Turbine</a>

  </div>
  </nav>

  <body>
    <main id="clientsMain">

    <div v-for="c in clients"
    :key="c.clientId">

    <h2 align="center">{{ c.clientName }}</h2>

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          Headquarters: {{ c.headquarters }}
          <br />
          Sector: {{ c.gicsSector }}
          <br / />
          Sub Industry: {{ c.gicsSubIndustry }}
        </div>
        <div class="col">
          {{ c.clientDescription}}
        </div>
        </div>

    </div>
  </div>

  <div v-for="s in sites">

    <h2> {{ s.siteName }} </h2>

  </div>

  <div>
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th>
          Client Notes
        </th>
      </tr>
      </thead>
      <tbody v-for="n in clientNotes">
        <td>
          {{ n.notes }}
        </td>
    </tbody>
    </table>
  </div>
</main>

    <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/client.app.js"></script>

  </body>
  </html>
