<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="css/pagestyle.css">

  <title>Client 1</title>
</head>
<div class="header">
  <a href="#default" class="logo">Add Notes</a>
  <div class="header-right">
    <a class="active" href="index.html">Home</a>
    <a href="http://ec2-34-216-141-243.us-west-2.compute.amazonaws.com/note.html">Client Notes</a>

  </div>
</div>

  <body>


    <div id="clientsMain" class="container-fluid">


                <form id="newNoteForm" @submit.prevent="handleNoteForm">

                  <div class="form-group row">
                    <label for="client" class="col-sm-1 col-form-label">Client: </label>
                    <div class="col-sm-6">
                      <select id="client" v-model="noteForm.clientName" class="form-control" required>
                        <option v-for="c in clientList"
                        :key="c.clientId"
                        :value="c.clientId">{{ c.clientName }}</option>
                      </select>
                    </div>

                  <div class="form-group row">
                    <label for="notes" class="col-sm-2 col-form-label">Client Notes: </label>

                    <div class="col-sm-6">
                      <input type="text" id="notes" v-model="noteForm.notes" class="form-control" placeholder="Add Client Notes" required>

                    </div>
                  </div>

                  <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                  <button id="submitNewNote" type="submit" class="btn btn-primary">Save changes</button>
                </form>
              <!-- </div>
            </div>
          </div>
        </div> -->

    </div>
  </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/client.app.js"></script>

  </body>

  <br />
  <br />

  <div class="footer">
  <div class="row">

    <div class="col-lg-4 col-sm-4 portfolio-item">
      <center>
        <p> &emsp; Alternative Green Systems </p>
      </center>
    </div>

    <div class="col-lg-4 col-sm-4 portfolio-item">
      <center>
        <p> Notes Page </p>
      </center>
    </div>

  <div class="col-lg-4 col-sm-4 portfolio-item">
    <center>
      <p> Contact us at support@ags.com </p>
    </center>
  </div>
  </div>
  </div>

</html>
