<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="css/pagestyle.css">

  <title>Client 1</title>
</head>
<nav>

<div class="topnav">
  <a href="home.html">Home</a>
  <a href="http://ec2-34-216-141-243.us-west-2.compute.amazonaws.com/client.html?clientId=1">Hoosier Energy</a>
  <a href="http://ec2-34-216-141-243.us-west-2.compute.amazonaws.com/client.html?clientId=2">Pacific Tidal Energy</a>
  <a href="http://ec2-34-216-141-243.us-west-2.compute.amazonaws.com/note.html">Client Notes</a>

</div>
</nav>
  <body>


    <div id="clientsMain" class="container-fluid">
                <h3>Add Notes</h3>

                <form id="newNoteForm" @submit.prevent="handleNoteForm">

                  <div class="form-group row">
                    <label for="clientId" class="col-sm-1 col-form-label">Client: </label>
                    <div class="col-sm-6">
                       <input type="number" id="clientId" v-model="noteForm.clientId" class="form-control" placeholder="Enter a clientId" required>
                      <!-- <select id="turbine" v-model="clients.clientId" class="form-control" required>
                        <option v-for="cl in clientList"
                        :key="cl.clientId"
                        :value="cl.clientId">{{ cl.clientName }}</option>
                      </select> -->
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="notes" class="col-sm-2 col-form-label">Client Notes: </label>

                    <div class="col-sm-6">
                      <input type="text" id="notes" v-model="noteForm.notes" class="form-control" placeholder="Add Client Notes" required>

                    </div>
                  </div>

                  <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                  <button id="submitNewNote" type="submit" class="btn btn-primary">Save changes</button>
                </form>
              <!-- </div>
            </div>
          </div>
        </div> -->

    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/client.app.js"></script>

  </body>
</html>
