<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/pagestyle.css">

    <title>Turbine</title>
  </head>

  <nav>

    <div class="topnav">
      <a href="home.html">Home</a>
      <a href="http://ec2-34-216-141-243.us-west-2.compute.amazonaws.com/client.html?clientId=1">Hoosier Energy</a>
      <a href="http://ec2-34-216-141-243.us-west-2.compute.amazonaws.com/client.html?clientId=2">Pacific Tidal Energy</a>
      <a href="http://ec2-34-216-141-243.us-west-2.compute.amazonaws.com/note.html">Client Notes</a>

    </div>
    </nav>

  <body>
<main id="turbinesMain" class="container-fluid">

  <div v-for="t in turbines">

    <h2 align="center">{{ t.turbineName }}</h2>

    <div class="row">
      <div class="col">
        {{ t.turbineDescription }}
      </div>
      <div class="col">
        Capacity: {{ t.capacity }}
        <br />
        Ramp Up Time: {{ t.rampUpTime }}
        <br  />
        Maintenance Interval: {{ t.maintenanceInterval }}
      </div>
    </div>
    <h3>Turbine Information</h3>
    <div class="row">
      <div class="col">
        Serial Number: {{ t.serialNumber }}
        Deployement Date: {{ t.deployedDate }}
      </div>
      <div class="col">
        Total Fired Hours: {{ t.totalFiredHours }}
        Total Starts: {{ t.totalStarts }}
        Last Planned Outage Date: {{ t.lastPlannedOutageDate }}
        Last Unplanned Outage Date: {{ t.lastUnplannedOutageDate }}
      </div>
  </div>
  </div>
  <br />

  <h2 align="center">Sensors used in this Turbine</h2>
  <div v-for="s in sensors">
    <div class="row">
      <div class="col">
        <h3>{{ s.sensorName }}</h3>
        {{ s.sensorDescription }}
      </div>
      <div class="col">
        Manufacturer: {{ s.manufacturer }}
        <br />
        Life Expectancy Hours: {{ s.totalLifeExpentancyHours }}
      <div v-for="d in sensorsDeployed"
        :key="d.sensorId"
        :id="'sensors-' + sensors.id + '-sensorsDeployed-' + d.sensorId">
        Serial Number: {{ d.serialNumber }}
        Deployed Date: {{ d.deployedDate }}
      </div>

      </div>
    </div>
  </div>
  <div v-for="t in series">
    <table>
      <thead>
        <th>sensorDeployedId</th>
        <th>dataCollectedDate</th>
        <th>output</th>
        <th>heatRate</th>
        <th>compressorEfficiency</th>
        <th>availability</th>
        <th>reliability</th>
        <th>firedHours</th>
        <th>trips</th>
        <th>starts</th>
      </thead>
      <tr>
        <td>{{ t.sensorDeployedId }}</td>
        <td>{{ t.dataCollectedDate }}</td>
        <td>{{ t.output }}</td>
        <td>{{ t.heatRate }}</td>
        <td>{{ t.compressorEfficiency }}</td>
        <td>{{ t.availability }}</td>
        <td>{{ t.reliability }}</td>
        <td>{{ t.firedHours }}</td>
        <td>{{ t.trips }}</td>
        <td>{{ t.starts }}</td>
      </tr>
    </table>

  </div>

</main>
       <!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/turbine.app.js"></script>


  </body>
